.container{
    background-color: #94bbde;
    height: 400px;
    width: 400px;
    margin:0 auto;
}

@keyframes jumpingBall{

    0%{
        height: 50px;
        width: 50px;
    }
    25%{
        
        height: 50px;
        width: 50px;
    }
    50%{
        /* transform: translateY(200px); */
        height: 40px;
        width: 50px;
    }
    75%{
        transform: translateY(280px);
        height: 30px;
        width: 55px;
    }
    100%{
        transform: translateY(40px);
    }
    
}


.ball{
    background-color:#eb2bab;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    transform: translateY(40px);
    border-radius:50%;
    animation: jumpingBall 0.75s infinite;
}

.ball-shadow{
    background-color:#7c797b9f;
    height: 5px;
    width: 50px;
    margin: 0 auto;
    transform: translateY(278px);
    border-radius:50%;
}